* {
  box-sizing: border-box;
  margin: 0;
}
/* The emerging W3C standard
   that is currently Firefox-only */
p {
  scrollbar-width: thin;
  scrollbar-color: beige;
}

/* Works on Chrome/Edge/Safari */
p::-webkit-scrollbar {
  width: 6px;
}
p::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 20px;
  /* border: 3px solid beige; */
}
p::-webkit-scrollbar-corner {
  opacity: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-image: linear-gradient(
      rgba(245, 245, 220, 0.8),
      rgba(245, 245, 220, 0.8)
    ),
    url("/img/books.jpg");
  background-size: cover;

  padding: 80px 30px 100px;
  text-align: center;
  font-size: 35px;
  width: 100%;
}

/* Container for flexboxes */
#main {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  flex: 1;
}

/* Create three equal columns that sits next to each other */

.card {
  display: flex;
  min-width: 280px;
  max-width: 320px;
  width: 17%;
  height: auto;
  background-size: cover;
  background-position: top;
  color: rgb(255, 255, 255, 1);
  text-shadow: #161515 2px 3px 5px;
  border: 8px solid red;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  line-height: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  min-height: 460px;
  max-height: 60vh;
  margin: 2%;
}

.card:hover {
  /* position: relative; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
}

.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 40px;
  background-size: contain;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  padding: 4%;
  height: 100%;
  z-index: 2;
}

.read {
  border: 8px solid rgba(123, 221, 24, 0.961);
}
section.content:hover {
  opacity: 1;
}
h2 {
  height: 15%;
  text-align: center;
  font-size: 2.3em;
  font-weight: 600;
  line-height: 1em;
  margin-block-start: 1em;
  margin-block-end: 0;
}
h2 + p {
  font-size: 0.9em;
  height: 8%;
}

p + p {
  font-weight: 400;
  font-size: 1.1em;
  height: 50%;
  overflow: scroll;
}
section button {
  height: 8%;
  align-self: center;
  min-width: 20%;
  margin-left: 10%;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 95%;
  }
}
